127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# tibco hack
10.18.135.184 mit-claudiatst
10.18.135.185 mit-qa
10.18.135.185 smtp.tele.fi
10.18.134.251 tsfjmsd1.intra.sonera.fi tsfjmsd2.intra.sonera.fi
194.215.213.98 nat.attido.com

#Claudiatst MGMT

10.18.135.46  proxy-claudiatst proxy-claudiatst.management.id.telia.fi
10.18.135.47  admin-claudiatst admin-claudiatst.management.id.telia.fi
10.18.135.48  platform1-claudiatst platform1-claudiatst.management.id.telia.fi
10.18.135.49  platform2-claudiatst platform2-claudiatst.management.id.telia.fi
10.18.135.50  platform3-claudiatst platform3-claudiatst.management.id.telia.fi
10.18.135.51  db-claudiatst db-claudiatst.management.id.telia.fi
10.18.135.52  uxdr-claudiatst uxdr-claudiatst.management.id.telia.fi

#Claudiatst APP

10.18.134.130  proxy-claudiatst.app proxy-claudiatst.ulm.id.telia.fi
10.18.134.131  admin-claudiatst.app admin-claudiatst.ulm.id.telia.fi
10.18.134.132  platform1-claudiatst.app platform1-claudiatst.ulm.id.telia.fi
10.18.134.133  platform2-claudiatst.app platform2-claudiatst.ulm.id.telia.fi
10.18.134.134  platform3-claudiatst.app platform3-claudiatst.ulm.id.telia.fi
10.18.134.135  db-claudiatst.app db-claudiatst.ulm.id.telia.fi
10.18.134.136  uxdr-claudiatst.app uxdr-claudiatst.ulm.id.telia.fi
