127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

#Claudiatst MGMT

10.18.135.46  proxy-claudiatst proxy-claudiatst.management.id.telia.fi
10.18.135.47  admin-claudiatst admin-claudiatst.management.id.telia.fi
10.18.135.48  platform1-claudiatst platform1-claudiatst.management.id.telia.fi
10.18.135.49  platform2-claudiatst platform2-claudiatst.management.id.telia.fi
10.18.135.50  platform3-claudiatst platform3-claudiatst.management.id.telia.fi
10.18.135.51  db-claudiatst db-claudiatst.management.id.telia.fi
10.18.135.52  uxdr-claudiatst uxdr-claudiatst.management.id.telia.fi

### INT APPLICATION NETWORK:
10.18.134.18  admin1-int.app
10.18.134.19  admin2-int.app
10.18.134.20  admin3-int.app
10.18.134.51  db1-int.app
10.18.134.52  db2-int.app
10.18.134.53  db3-int.app
10.18.134.54  db4-int.app
10.18.134.37  elk1-int.app
10.18.134.55  hapr1-int.app
10.18.134.56  hapr2-int.app
10.18.134.2   platform1-int.app
10.18.134.3   platform2-int.app
10.18.134.4   platform3-int.app
10.18.134.5   platform4-int.app
10.18.134.6   platform5-int.app
10.18.135.130 proxy1-int.app
10.18.135.131 proxy2-int.app
10.18.135.132 proxy3-int.app
10.18.134.34  uxdr1-int.app
10.18.134.35  uxdr2-int.app
10.18.134.36  uxdr3-int.app

### QA APPLICATION NETWORK:
10.18.134.82  admin1-qa.app
10.18.134.83  admin2-qa.app
10.18.134.84  admin3-qa.app
10.18.134.114 db1-qa.app
10.18.134.115 db2-qa.app
10.18.134.116 db3-qa.app
10.18.134.117 db4-qa.app
10.18.134.101 elk1-qa.app
10.18.134.119 hapr1-qa.app
10.18.134.120 hapr2-qa.app
10.18.134.66  platform1-qa.app
10.18.134.67  platform2-qa.app
10.18.134.68  platform3-qa.app
10.18.134.69  platform4-qa.app
10.18.134.70  platform5-qa.app
10.18.134.136 proxy1-qa.app
10.18.134.137 proxy2-qa.app
10.18.134.138 proxy3-qa.app
10.18.134.98  uxdr1-qa.app
10.18.134.99  uxdr2-qa.app
10.18.134.100 uxdr3-qa.app

### HKI PRE MANAGEMENT NETWORK:
10.18.40.231   platform1-pre.hki platform1-pre.hki.ulm.id.telia.fi
10.18.40.232   platform2-pre.hki platform2-pre.hki.ulm.id.telia.fi
10.18.40.233   platform3-pre.hki platform3-pre.hki.ulm.id.telia.fi
10.18.40.234   platform4-pre.hki platform4-pre.hki.ulm.id.telia.fi
10.18.40.235   platform5-pre.hki platform5-pre.hki.ulm.id.telia.fi

10.18.40.236   admin1-pre.hki admin1-pre.hki.ulm.id.telia.fi
10.18.40.237   admin2-pre.hki admin2-pre.hki.ulm.id.telia.fi
10.18.40.238   admin3-pre.hki admin3-pre.hki.ulm.id.telia.fi

10.18.40.239   db1-pre.hki
10.18.40.240   db2-pre.hki
10.18.40.241   db3-pre.hki
10.18.40.242   db4-pre.hki

10.18.40.244   elk1-pre.hki
10.18.40.245   uxdr2-pre.hki
10.18.40.246   elk3-pre.hki

10.18.40.247  nfs1-pre.hki

10.18.40.228   proxy1-pre.hki
10.18.40.229   proxy2-pre.hki
10.18.40.230   proxy3-pre.hki

###JKL PRE MANAGEMENT NETWORK
10.18.44.228    proxy1-pre.jkl
10.18.44.229    proxy2-pre.jkl
10.18.44.230    proxy3-pre.jkl
10.18.44.231    platform1-pre.jkl platform1-pre.jkl.ulm.id.telia.fi
10.18.44.232    platform2-pre.jkl platform2-pre.jkl.ulm.id.telia.fi
10.18.44.233    platform3-pre.jkl platform3-pre.jkl.ulm.id.telia.fi
10.18.44.234    platform4-pre.jkl platform4-pre.jkl.ulm.id.telia.fi
10.18.44.235    platform5-pre.jkl platform5-pre.jkl.ulm.id.telia.fi
10.18.44.236    admin1-pre.jkl admin1-pre.jkl.ulm.id.telia.fi
10.18.44.237    admin2-pre.jkl admin2-pre.jkl.ulm.id.telia.fi
10.18.44.238    admin3-pre.jkl admin3-pre.jkl.ulm.id.telia.fi
10.18.44.239    db1-pre.jkl
10.18.44.240    db2-pre.jkl
10.18.44.241    db3-pre.jkl
10.18.44.242    db4-pre.jkl
10.18.44.244    elk1-pre.jkl
10.18.44.245    uxdr2-pre.jkl
10.18.44.246    elk3-pre.jkl
10.18.44.247    nfs1-pre.jkl
10.18.44.248    zabbix1-pre.jkl

### HKI PROD MANAGEMENT NETWORK:

10.18.42.7	   platform1.hki platform1.hki.ulm.id.telia.fi
10.18.42.8	   platform2.hki platform2.hki.ulm.id.telia.fi
10.18.42.9	   platform3.hki platform3.hki.ulm.id.telia.fi
10.18.42.10	   platform4.hki platform4.hki.ulm.id.telia.fi
10.18.42.11	   platform5.hki platform5.hki.ulm.id.telia.fi

10.18.42.4	   proxy1.hki
10.18.42.5	   proxy2.hki
10.18.42.6	   proxy3.hki

10.18.42.12	   admin1.hki admin1.hki.ulm.id.telia.fi
10.18.42.13	   admin2.hki admin2.hki.ulm.id.telia.fi
10.18.42.14	   admin3.hki admin3.hki.ulm.id.telia.fi

10.18.42.15	   db1.hki
10.18.42.16	   db2.hki
10.18.42.17	   db3.hki
10.18.42.18	   db4.hki

10.18.42.20	   uxdr1.hki
10.18.42.21	   elk2.hki
10.18.42.22	   elk3.hki

### JKL PROD MANAGEMENT NETWORK:

10.18.44.228    proxy1-pre.jkl
10.18.44.229    proxy2-pre.jkl
10.18.44.230    proxy3-pre.jkl

10.18.46.100	proxy1.jkl
10.18.46.101	proxy2.jkl
10.18.46.102	proxy3.jkl

10.18.44.231    platform1-pre.jkl 
10.18.44.232    platform2-pre.jkl
10.18.44.233    platform3-pre.jkl
10.18.44.234    platform4-pre.jkl
10.18.44.235    platform5-pre.jkl

10.18.46.103	platform1.jkl platform1.jkl.ulm.id.telia.fi
10.18.46.104	platform2.jkl platform2.jkl.ulm.id.telia.fi
10.18.46.105	platform3.jkl platform3.jkl.ulm.id.telia.fi
10.18.46.106	platform4.jkl platform4.jkl.ulm.id.telia.fi
10.18.46.107	platform5.jkl platform5.jkl.ulm.id.telia.fi

10.18.44.236    admin1-pre.jkl
10.18.44.237    admin2-pre.jkl
10.18.44.238    admin3-pre.jkl

10.18.46.108	admin1.jkl admin1.jkl.ulm.id.telia.fi
10.18.46.109	admin2.jkl admin2.jkl.ulm.id.telia.fi
10.18.46.110	admin3.jkl admin3.jkl.ulm.id.telia.fi

10.18.44.239    db1-pre.jkl
10.18.44.240    db2-pre.jkl
10.18.44.241    db3-pre.jkl
10.18.44.242    db4-pre.jkl

10.18.46.111	db1.jkl
10.18.46.112	db2.jkl
10.18.46.113	db3.jkl
10.18.46.114	db4.jkl

10.18.44.244    elk1-pre.jkl
10.18.44.245    elk2-pre.jkl
10.18.44.246    elk3-pre.jkl

10.18.46.116	uxdr1.jkl
10.18.46.117	elk2.jkl
10.18.46.118	elk3.jkl

10.18.44.247    nfs1-pre.jkl

10.18.44.248    zabbix1-pre.jkl
10.18.44.248    zabbix1-pre.jkl.management.id.telia.fi

10.18.44.249    jfrog1-pre.jkl
10.18.44.249    jfrog1-pre.jkl.ulm.id.telia.fi

10.18.44.246    gitlab.jkl gitlab.id.telia.fi gitlab.jkl.management.id.telia.fi