# {{ ansible_managed }}

MYSQL_USERNAME="{{ galera_check_user }}"
MYSQL_PASSWORD="{{ galera_check_password }}"
AVAILABLE_WHEN_DONOR="{{ available_when_donor_status }}"
ERR_FILE="{{ galera_check_log_file }}"
